.Rproj.user
.Rhistory
.RData
.Ruserdata
Hydrodynamic Forces Starboard and Port Warp Angles.RData
Data for Model 2 Pitch_Roll.RData
Hydrodynamic Forces Warp Angle.RData
Contact Area of Otter Door Vs. Grain Size (Based on door width dimensions)
Otter Door and Seafloor Contact Area Across Sediment Types.RData
Data for Model 1.RData
Otter Door Contact Area.RData
Effective Contact Area of Otter Doors.png
warp_angle_vs_depth.png
